.container {
  padding: 20px;

  &__logo{
    display: flex;
    justify-content: space-between;
  }



  .container__logo{
    position: relative;
    font-size: 25px;
    color: black;
  }

  .menu {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;

  }
}
