<div class="container content__container">
  <div class="container__welcome content">

    <div class="welcome__text">
      <span class="solo__text">Блог</span>
    </div>

    <div class="welcome__text">
      <span class="text__paragraph">Добро пожаловать в наш блог!
        Здесь мы делимся идеями, тенденциями и размышлениями о цифровой
        инновации, дизайне пользовательских интерфейсов и многом другом.
      </span>
    </div>
  </div>


  <div class="blog__content">
    <div class="content__cards">
      <menu>
        <ul class="cards__text">
          <li>asd</li>
          <li>asd</li>
        </ul>
      </menu>
    </div>
  </div>


</div>
