<div class="container content__container">
    <div class="header__content text">
        <span>студия разработки</span>
    </div>
    <div class="header__container main">
      <span class="main__content txt">YBRU development</span>
    </div>
    <div class="header__footer">
      <span class="footer__text">Создаем уникальные продукты для развития вашего бизнеса — от идеи до реализации.</span>
    </div>
    <div class="header__button">
      <input class="btn" type="submit" value="Связаться с нами">
    </div>

    <div class="main__image">
      <img src="" alt="" srcset="">
    </div>
</div>
