 <footer class="application__footer footer" id="footer">
  <div class="container footer__container">

    <div class="block__content">
      <div class="container__text content_f">

        <span class="text__txt">Подпишитесь на нашу рассылку, чтобы всегда оставаться на связи.</span>
        <div class="text__block block">
          <span class="block__text">адрес электронной почты</span>
          <img class="icon-bx" src="../img/svg/icon1.svg" alt="">
        </div>


        <div class="container__content">
          <div class="content_f__image">
            <img src="../img/YBRU_Logo.png" alt="">
          </div>
        </div>
      </div>

      <div class="container__content_f menu">

        <ul>
          <li>Проекты</li>
          <li>О нас</li>
        </ul>
        <ul>
          <li>Вакансии</li>
          <li>Блог</li>
        </ul>
        <ul>
          <li>Услуги</li>
          <li>Мобильная разработка</li>
          <li>Разработка сайтов</li>
          <li>Административные ресурсы</li>
          <li>Разработка парсеров</li>
          <li>Разработка инструментов аналитики</li>
        </ul>
      </div>

    </div>
  </div>

</footer>
