<header class="application__header header" id="header">

  <div class="container header__container">


    <div class="container__logo">
      <div class="container__logo">
        <a href="/"><span>YBRU</span><//a>
      </div>

      <div class="container__menu menu">
        <a href="/service.html">Услуги</a>
        <a href="">Проекты</a>
        <a href="http://">О нас</a>
        <a href="/opeing.html">Вакансии</a>
        <a href="/Blog.html">Блог</a>

      </div>
    </div>

  </div>

</header>
