<div class="container content__container">
  <div class="container__welcome content">

    <div class="welcome__text">
      <span class="solo__text">Вакансии</span>
    </div>

    <div class="welcome__text">
      <span class="text__paragraph">Присоединяйтесь к нашей команде инноваторов! Мы ищем талантливых профессионалов, готовых вдохнуть жизнь в цифровые продукты и делать их лучше каждый день.</span>
    </div>



  </div>

  <div class="content__cards" style="background-color: #FFEDEA">
    <menu class="menu__cards" type="context">
      <div class="cards__wrap">
        <span class="cards__opening">Старший Python разработчик</span>
      </div>
      <ul class="list">
        <li>Требуемый опыт</li>
        <li>5-6 лет</li>
      </ul >
      <ul class="list" >
        <li>Заработная плата</li>
        <li>150-200.000Р</li>
      </ul>
      <ul class="list" >
        <li>Можно работать</li>
        <li>удаленно</li>
      </ul>
      <div class="position__button">
        <input class="button__btn" type="submit" value="Подробнее">
      </div>
    </menu>
  </div>

  <div class="content__cards" style="background-color: #E4E8F8">
    <menu class="menu__cards" type="context">
      <div class="cards__wrap">
        <span class="cards__opening">QA инженер</span>
      </div>
      <ul class="list">
        <li>Требуемый опыт</li>
        <li>1-2 года</li>
      </ul >
      <ul class="list" >
        <li>Заработная плата</li>
        <li>80-120.000Р</li>
      </ul>
      <ul class="list" >
        <li>Офис в Москве</li>
      </ul>
      <div class="position__button">
        <input class="button__btn" type="submit" value="Подробнее">
      </div>
    </menu>
  </div>

  <div class="content__cards" style="background-color: #DEC4E4">
    <menu class="menu__cards" type="context">
      <div class="cards__wrap">
        <span class="cards__opening">DevOps инженер </span>
      </div>
      <ul class="list">
        <li>Требуемый опыт</li>
        <li>3-5 лет</li>
      </ul >
      <ul class="list" >
        <li>Заработная плата</li>
        <li>150-200.000Р</li>
      </ul>
      <ul class="list" >
        <li>Можно работать</li>
        <li>удаленно</li>
      </ul>
      <div class="position__button">
        <input class="button__btn" type="submit" value="Подробнее">
      </div>
    </menu>
  </div>

  <div class="content__cards" style="background-color: #CCD3F5">
    <menu class="menu__cards"  type="context">
      <div class="cards__wrap">
        <span class="cards__opening">Продуктовый менеджер</span>
      </div>
      <ul class="list">
        <li>Требуемый опыт</li>
        <li>2-3 лет</li>
      </ul >
      <ul class="list" >
        <li>Заработная плата</li>
        <li>120-150.000Р</li>
      </ul>
      <ul class="list" >
        <li>Офис в Нижнем</li>
        <li>Новгороде</li>
      </ul>
      <div class="position__button">
        <input class="button__btn" type="submit" value="Подробнее">
      </div>
    </menu>
  </div>


</div>
