<div class="container content__container">
  <div class="container__welcome content">

    <div class="welcome__text">
      <span class="solo__text">Услуги</span>
    </div>

    <div class="welcome__text">
      <span class="text__paragraph">Мы предлагаем широкий спектр услуг по разработке цифровых продуктов для развития вашего бизнеса.
Свяжитесь с нами, чтобы обсудить детали проекта!</span>
    </div>

  </div>


  <div class="hero__cards"> <!-- блок отвечающий за карточки  -->
    <div class="cards__content" style="background: url('../img/BackgroundCard.jpg');">

      <div class="content__form">
        <div class="form">
          <span class="content__header head">Автоматизация</span>
          <span class="content__text content ">Создаем сайты, которые не только выделяются, но и эффективно передают ваше сообщение. Доверьте нам воплощение вашей уникальной онлайн идентичности. </span>
        </div>
        <div class="form__content btn">
          <input class="btn__control1" type="submit" value="Подробнее">
          <input class="btn__control2" type="submit" value="Связаться">
        </div>
      </div>

      <div class="content__image image">
        <img src="../img/card1.png" alt="">
      </div>

    </div>
  </div>

  <div class="hero__cards"> <!-- блок отвечающий за карточки  -->
    <div class="cards__content" style="background: url('../img/BackgroundCard.jpg');" >
      <div class="content__image image">
        <img src="../img/mobile.png" alt="">
      </div>
      <div class="content__form">
        <div class="form">
          <span class="content__header head">Мобильная разработка</span>
          <span class="content__text content ">Откройте новые горизонты с нашими услугами по разработке мобильных приложений. Мы создаем инновационные приложения, объединяющие функциональность и креативный дизайн. </span>
        </div>
        <div class="form__content btn">
          <input class="btn__control1" type="submit" value="Подробнее">
          <input class="btn__control2" type="submit" value="Связаться">
        </div>
      </div>
    </div>
  </div>




</div>
